.mainWrapp {
  position: relative;
  display: flex;
  margin: 1rem 2rem;
}

.searchIcon {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.imgWrapp img {
  width: 200px;
  height: 300px;
}

.titleWrapp {
  display: flex;
}

.contentWrapp {
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
}

.voteAverage {
  margin-left: 1rem;
}

.voteAverage span {
  font-size: 1.3rem;
  color: #f44336;
}

.genres {
  font-size: 0.7rem;
  margin-top: 1rem;
}

.releaseDate {
  color: #f44336;
  margin: 1rem 0;
}
