.movieImg {
  width: 100%;
}

.movieTitleWrapp {
  display: flex;
  justify-content: space-between;
}
.movieTitle,
.movieGenres {
  font-size: 0.9rem;
  margin-top: 10px;
}

.movieGenres {
  font-size: 0.7rem;
  margin-top: 5px;
}

.movieReleaseDate {
  font-size: 0.7rem;
  border: 1px solid #666666;
  padding: 4px 9px;
}
