.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.modalTitle {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modalFooter button {
  padding: 0.5rem 1.7rem;
  border-radius: 5px 5px;
  margin: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.buttonSubmit {
  background-color: #f44336;
  color: #ffffff;
}

.modalFooter .buttonCancel {
  border: 1.5px solid #f44336;
  color: #f44336;
}

.modalFooter button:last-child {
  margin-left: 10px;
}

.modalClose {
  height: 20px;
  cursor: pointer;
  opacity: 0.7;
}
.modalClose:hover {
  opacity: 1;
  transition: all 0.6s;
}
.modalClose:before,
.modalClose:after {
  position: absolute;
  top: 4px;
  right: 10px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #ffffff;
}
.modalClose:before {
  transform: rotate(45deg);
}
.modalClose:after {
  transform: rotate(-45deg);
}
