.searchTitle {
  font-size: 32px;
  margin: 10px 0;
  color: #666666;
}

.searchForm {
  text-align: center;
}

.searchInput {
  font-size: 1.2rem;
  color: #666666;
  width: 30rem;
  text-align: center;
  padding: 9px 40px;
}

.searchButton {
  margin-left: 1rem;
  background-color: #f44336;
  border-radius: 0;
  padding: 14px 40px;
  border: none;
  color: #fff;
  cursor: pointer;
}
